<div class="auth-container">
  <h2>Регистрация</h2>
    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
    </div>
    <div class="form-group">
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </div>

    <button type="submit" (click)="registration(user)" > Зарегистрироваться</button>

  <div class="footer-link">
    <span>Уже есть аккаунт?</span>
    <a [routerLink]="['/login']">Войти</a>
  </div>
</div>
